<footer class="container text-center position-absolute bottom-0">
    <div class="row">
        <section class="col">
            colonne 1
        </section>
        <section class="col">
            colonne 2
        </section>
        <section class="col">
            colonne 3
        </section>
    </div>
</footer>