{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Inscription</h1>

                {{ form_start(registrtionForm) }}
                    <fielset>
                        <legend>Mon identité</legend>
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.status) }}
                    </fielset>

                {{  form_row(registrationForm.plainPassword, {
                    label: 'password'
                }) }}
            </div>
        </div>
    </section>
{% endblock %}
