{% extends '../../base.html.twig' %}

{% block title %}Structures-Crossfit_life{% endblock %}

{% block body %}
    <div class="text">Structures</div>
    <main class="container text-center">
        <section class="row justify-content-md-center">
            <div class="col-10">
                <table class="table table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for structure in structures %}
                        <tr>
                            <th scope="row" class="align-middle">{{ structure.id }}</th>
                            <td class="align-middle">{{ structure.status }}</td>
                            <td class="align-middle">{{ structure.address }}</td>
                            <td class="align-middle"><a href="{{ path('structures_details', {slug: structure.slug}) }}" class="btn btn-warning">Voir la structures</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>

{% endblock %}