*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.en-tête{
  font-size: 20px;
}

.les-droits{
  font-size: 25px;
}

.detail{
  font-size: 20px;
  color: #fff;
}

.conteneur{
  width: 90%;
  margin: 50px auto;
}

.texte{
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
  color: #06255b;
}

.carte{
  width: 25rem;
  margin: 0 40px 40px;
  transition: 0.3s;
}

.rang{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.en-têteCarte{
  height: 80px;
  text-align: center;
  vertical-align: middle;
  padding: 20px 10px;
  background-color: #d39f0f;
  color: #fff;
  border: 2px solid #977c30;
}

.titre{
  text-align: center;
  padding: 10px 10px;
  background-color: #06255b;
  color: #fff;
  border: 3px solid #152342;
}

.corpsCarte{
  padding: 30px 20px;
  background-color: #1f9383;
  border: 2px solid #294e46;
}

.carte:hover{
  transform: scale(1.02);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 576px){
  .conteneur{
    width: 100%;
  }

  .en-têteCarte {
    padding: 20px;
    font-size: 20px;

    height: 100px;
  }

  .carte{
    width: 80%;
  }
}


