/* Importation de polices depuis Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --green1: #187566;
  --blue1: #06255b;
  --white: #fff;
  --gold1: #d39f0f;
  --grey: #f5f5f5;
  --black: #222;
  --black2: #999;
}

body{
  min-height: 100vh;
}

.contain{
  position: relative;
  width: 100%;
}

.sidebar{
  position: fixed;
  width: 280px;
  height: 100%;
  background: var(--green1);
  transition: 0.5s;
  overflow: hidden;
}

.sidebar.active{
  width: 60px;
}

.sidebar ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
}

.sidebar ul li{
  position: relative;
  width: 200%;
  list-style: none;
}
.sidebar ul li:hover{
  background: var(--blue1);
}

.sidebar ul li:nth-child(1){
  margin-bottom: 40px;
  pointer-events: none;
  background: var(--blue1);
}

.sidebar ul li a{
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;

  color: var(--white);
}

.sidebar ul li:hover a{
  color: var(--white);
}

.sidebar ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.sidebar ul li a .icon i{
font-size: 1.5em;
}

.sidebar ul li a .links_name{
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.sidebar .profile_content {
  position: absolute;
  color: var(--white);
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  transition: all 0.4s ease;
  background: var(--gold1);
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  pointer-events: none;
  white-space: nowrap;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .rol_email {
  margin-left: 10px;
}

.profile .profile_details .email {
  font-size: 12px;
  font-weight: 400;
}

.profile .profile_details .rol {
  font-size: 15px;
}

.profile a #log_out {
  position: absolute;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 5px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  background: var(--green1);
  color: var(--gold1);
  left: 88%;
}

.main{
  position: absolute;
  width: calc(100% - 280px);
  left: 280px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}

.main.active{
  width: calc(100% - 60px);
  left: 60px;
}

.topbar{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: start;
}

.toggle{
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--gold1);
}

@media (max-width: 576px){
  .sidebar{
    left: -280px;
  }

  .sidebar.active{
    width: 280px;
    left: 0;
  }

  .main{
    width: 100%;
    left: 0;

  }

  .main.active{
    left: 280px;
  }
}