
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.divButton {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}
