*{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --green1: #187566;
  --green2: #1f9383;
  --green3: #294e46;
  --blue1: #06255b;
  --blue2: #152342;
  --white: #fff;
  --gold1: #d39f0f;
  --gold2: #977c30;
  --grey: #f5f5f5;
  --black: #222;
  --black2: #999;
}

body{
  min-height: 100vh;
}

.contain{
  position: relative;
  width: 100%;
}


/* navbar */
.sidebar{
  position: fixed;
  height: 100%;
  background: var(--green1);
  transition: 0.5s;
  overflow: hidden;
  left: -280px;
}

.sidebar.active{
  width: 280px;
  left: 0;
}

.sidebar ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
}

.sidebar ul li{
  position: relative;
  width: 200%;
  list-style: none;
}
.sidebar ul li:hover{
  background: var(--blue1);
}

.sidebar ul li:nth-child(1){
  margin-bottom: 40px;
  pointer-events: none;
  background: var(--blue1);
}

.sidebar ul li a{
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;

  color: var(--white);
}

.sidebar ul li:hover a{
  color: var(--white);
}

.sidebar ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.sidebar ul li a .icon i{
font-size: 1.5em;
}

.sidebar ul li a .links_name{
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.sidebar .profile_content {
  position: absolute;
  color: var(--white);
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  transition: all 0.4s ease;
  background: var(--gold1);
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  pointer-events: none;
  white-space: nowrap;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .rol_email {
  margin-left: 10px;
}

.profile .profile_details .email {
  font-size: 12px;
  font-weight: 400;
}

.profile .profile_details .rol {
  font-size: 15px;
}

.profile a #log_out {
  position: absolute;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 5px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  background: var(--green1);
  color: var(--gold1);
  left: 88%;
}

.main{
  position: absolute;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
  width: 100%;
  left: 0;
}

.main.active{
  width: calc(100% - 60px);
  left: 280px;
}

.topbar{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: start;
}

.toggle{
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--gold1);
}

/* Card permission */

.en-tête{
  font-size: 27px;
}

.les-droits{
  font-size: 25px;
}

.detail{
  font-size: 20px;
  color: #fff;
}

.conteneur{
  width: 100%;
  margin: 50px auto;
}

.texte{
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
  color: var(--blue1);
}

.carte{
  width: 80%;
  margin: 0 40px 40px;
  transition: 0.3s;
}

.rang{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.en-têteCarte{
  height: 100px;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  background-color: var(--gold1);
  color: var(--white);
  border: 2px solid var(--gold2);
}

.titre{
  text-align: center;
  padding: 10px 10px;
  background-color: var(--blue1);
  color: var(--white);
  border: 3px solid var(--blue2);
}

.corpsCarte{
  padding: 30px 20px;
  background-color: var(--green2);
  border: 2px solid var(--green3);
}

.carte:hover{
  transform: scale(1.02);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 576px){
  /* navbar */
  .sidebar{
    width: 280px;
    left: 0;
  }

  .sidebar.active{
    width: 60px;
  }

  .main{
    width: calc(100% - 280px);
    left: 280px;
  }

  .main.active{
    left: 60px;
  }

  /* card permission */
  .conteneur{
    width: 90%;
  }

  .en-têteCarte {
    padding: 20px 10px;
    height: 80px;
  }

  .carte{
    width: 25rem;
  }
}