{% extends 'base.html.twig' %}

{% block title %}{{ franchise.name }}- Crossfit_life{% endblock %}

{% block body %}

    <div class="text">{{ franchise.name }}</div>
    <main class="container">
        <section class="row">
            <div class="col-12">
                {% for structure in franchise.structures %}
                    <div class="col-6">
                        <article class="card">
                            <div class="card-body">
                                <h2 class="card-title">{{ structure.address }}</h2>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Droits</th>
                                        <th>status</th>
                                    </tr>
                                    </thead>
                                    {% for droit in result %}
                                        <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        </tbody>
                                    {% endfor %}

                                </table>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </section>
{% endblock %}