{% extends 'base.html.twig' %}

{% block title %}Franchises-Crossfit_life{% endblock %}

{% block body %}
    <div class="text">Franchises</div>
    <main class="container text-center">
        <section class="row justify-content-md-center">
            <div class="col-10">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for franchise in franchises %}
                        <tr>
                            <th scope="row" class="align-middle">{{ franchise.id }}</th>
                            <td>
                                <div class="form-switch text-center">
                                    <input class="form-check-input" type="checkbox"
                                            {{ (franchise.status) ? 'checked' : ''}}
                                           id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                </div>

                            </td>
                            <td class="align-middle">{{ franchise.name }}</td>
                            <td class="align-middle"><a href="{{ path('franchises_details', {slug: franchise.slug}) }}" class="btn btn-warning">Voir les structures</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>

{% endblock %}
