<h1>Votre Structure à l'adresse {{ structureForm.address }} est actif</h1>
<p>Bonjour {{ userStructure.firstname }} {{ userStructure.lastname }},</p>
<p>L'inscription de la structure <strong>{{ structureForm.address }}</strong> sur le site Crossfit Life est désormais active. </p>

<p>Dès à présent vous pouvez voir votre structure.</p>

<p>Cordialement,</p>
