<h1>Votre structure à l'adresse {{ structures.address }} a été modifiée</h1>
<p>Bonjour {{ userStructure.firstname }} {{ userStructure.lastname }},</p>
<p>La structure <strong>{{ structures.address }}</strong> a bien été modifiée. </p>

<p>Dès à présent vous pouvez voir les modifications de votre structure.</p>

<p>Cordialement,</p>