<h1>Votre compte est actif</h1>
<p>Bonjour {{ user.firstname }} {{ user.lastname }},</p>
<p>Votre inscription sur le site Crossfit Life est validée. </p>
<p>Vous pouvez vous enregistrer avec l'e-mail et le mot de passe fourni par l'entreprise. </p>

<p><b>Après vérification de l'e-mail, vous serez redirigé vers la page de renouvellement du mot de passe.</b></p>

<h2>Veuillez confirmer votre email!</h2>

<p>
  Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
  <a href="{{ absolute_url(path('verify_user', {token: token})) }}">Confirmer mon e-mail</a>.
  Ce lien expirera dans 1 heure.
</p>

